* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex; 
    font-family: sans-serif;
    flex-direction: column;
    background-color: rgb(220, 215, 205);
    min-height: 100vh;
    justify-content: space-between;
}

.container {
    display: flex;
    justify-content: center;
}

.container.header, .container.footer {
    background-color: rgb(200, 75, 75);
}

.text.header {
    font-size: 32px;
    font-weight: 800;
    padding: 10px;
}

.container.main {
    background-color: rgb(220, 215, 205);
}

.container.calculator {
    flex: 0 1 300px;
    align-self: center;
    border: 4px solid black;
    flex-direction: column;
    margin: 20px;
}

.container.calculator-display {
    flex: 1 1 75px;
    border: 2px solid black;
    font-size: 250%;
}

.container.calculator-sign-display{
    flex: 1 1 0;
    background-color: white;
    align-items: center;
    padding-left: 8px;
}

.container.calculator-main-display{
    flex: 10 10 5px;
    background-color: white;
    align-items: center;
    justify-content: right;
    padding: 0px 8px;
}

.container.calculator-row {
    flex: 1 1 75px;
}

.button.calculator-button {
    flex: 1 1 0;
    border: 1px solid black;
    font-size: 200%;
    padding: 4px;
    font-weight: 600;
}

.button.digit {
    background-color: lightgray;
}

.button.clear {
    background-color: rgb(200, 75, 75);
}

.button.ops {
    background-color: gray;
}

.button.equals {
    background-color: rgb(75, 75, 200);
}

#negative-button, #backspace-button, #power-button {
    font-size: 175%;
}

.footer {
    font-weight: 600;
    font-size: 16px;
    padding: 8px;
}
